Package: multiflexi-abraflexi-digest
Source: abraflexi-digest
Version: 1.29
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 209
Depends: multiflexi, abraflexi-digest
Section: web
Priority: optional
Homepage: https://github.com/VitexSoftware/AbraFlexi-Digest
Description: Add Ddigest for AbraFlexi to MultiFlexi
 Instal or Update MultiFlexi App json definitons for
 digests tools
