Package: flexibee-digest
Version: 0.1
Architecture: all
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Installed-Size: 105
Depends: debconf (>= 0.5) | debconf-2.0, php-flexibee-config, flexipeehp-bricks (>= 0.8), composer, php-cli
Suggests: flexibee-server
Section: web
Priority: optional
Homepage: https://github.com/VitexSoftware/php-flexibee-digest
Description: External digest for FlexiBee
 Match payments & invoices in FlexiBee usin PHP Library FlexiPeeHP
