Source: flexibee-digest
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/FlexiBee-Digest

Package: flexibee-digest
Depends: ${misc:Depends}, php-flexibee-config, flexipeehp-bricks (>= 0.10), composer, php-cli, php-intl|php7.0-intl|php7.1-intl|php7.2-intl|php7.3-intl, locales-all
Suggests: flexibee-server
Architecture: all
Section: web
Priority: optional
Description: digest for FlexiBee
 Prepare digest with accounting state of FlexiBee. Then save to file or send by
 email. Daily, weekly, monthly, yearly and all time.

