Source: abraflexi-digest
Build-Depends: debhelper (>= 12~),composer, jq, moreutils
Standards-Version: 4.3.0
Maintainer: Vítězslav Dvořák <info@vitexsoftware.cz>
Uploaders: Vitex <vitex@hippy.cz>
Priority: optional
Homepage: https://github.com/VitexSoftware/AbraFlexi-Digest

Package: abraflexi-digest
Depends: ${misc:Depends}, php-vitexsoftware-ease-bootstrap5-widgets, php-vitexsoftware-ease-bootstrap5-widgets-abraflexi, php-vitexsoftware-abraflexi-bricks, composer-debian, php-cli, php-intl, locales-all, php-net-smtp
Suggests: abraflexi-server,abraflexi-client-config, multiflexi
Architecture: all
Section: web
Priority: optional
Description: digest for AbraFlexi
 Prepare digest with accounting state of AbraFlexi. Then save to file or send by
 email. Daily, weekly, monthly, yearly and all time.

Package: multiflexi-abraflexi-digest
Depends: multiflexi, abraflexi-digest
Architecture: all
Section: web
Priority: optional
Description: Add Digest for AbraFlexi to MultiFlexi
 Instal or Update MultiFlexi App json definitions for
 digest tools into MultiFlexi
