#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'            	     debian/flexibee-digest/usr/share/flexibee-digest/init.php
	sed -i -e 's/..\/vendor/\/var\/lib\/php-flexibee-digest/g' 	     debian/flexibee-digest/usr/share/flexibee-digest/init.php
	sed -i -e 's/\.\./\/etc\/flexibee/g'                                 debian/flexibee-digest/usr/share/flexibee-digest/init.php
	sed -i -e 's/.\/modules/\/usr\/lib\/flexibee-digest/g'               debian/flexibee-digest/usr/share/flexibee-digest/init.php
	sed -i -e 's/.\/css/\/usr\/share\/flexibee-digest\/themes/'          debian/flexibee-digest/usr/share/flexibee-digest/init.php
	sed -i -e 's/..\/composer.json/\/usr\/share\/flexibee-digest\/composer.json/g' 	     debian/flexibee-digest/usr/share/flexibee-digest/Digest/Digestor.php
