#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_install:
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-digest/usr/share/php/abraflexi-digest/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \
		debian/abraflexi-digest/usr/share/php/abraflexi-digest/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \
		debian/abraflexi-digest/usr/share/php/abraflexi-digest/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/abraflexi-digest/usr/share/php/abraflexi-digest/autoload.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/conf/composer.json |sponge debian/abraflexi-digest/usr/lib/abraflexi-digest/composer.json
	# Fix paths in application files
	sed -i -e 's/..\/i18n/\/usr\/share\/locale/g'            	        	debian/abraflexi-digest/usr/share/abraflexi-digest/init.php
	sed -i -e 's/..\/vendor/\/usr\/share\/php\/abraflexi-digest/g' 			debian/abraflexi-digest/usr/share/abraflexi-digest/*.php
	sed -i -e 's/\.\./\/etc\/abraflexi/g'                                    	debian/abraflexi-digest/usr/share/abraflexi-digest/init.php
	sed -i -e 's/\.\//\/usr\/lib\/abraflexi-digest\//'                  		debian/abraflexi-digest/usr/share/abraflexi-digest/init.php
	sed -i -e 's/\.\/css\//\/usr\/share\/abraflexi-digest\/css\//'              	debian/abraflexi-digest/usr/share/abraflexi-digest/init.php
	sed -i -e 's/..\/composer.json/\/usr\/lib\/abraflexi-digest\/composer.json/g' 	debian/abraflexi-digest/usr/lib/abraflexi-digest/Digest/Digestor.php
	sed -i -e "s/__DIR__.'/'\/usr\/share\/abraflexi-digest/g"               	debian/abraflexi-digest/usr/share/abraflexi-digest/index.php
	sed -i -e "s/__DIR__.'/'\/usr\/share\/abraflexi-digest/g"               	debian/abraflexi-digest/usr/share/abraflexi-digest/results.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/alltime_digest.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-digest/usr/lib/abraflexi-digest/multiflexi/alltime_digest.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/daily_digest.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-digest/usr/lib/abraflexi-digest/multiflexi/daily_digest.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/monthly_digest.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-digest/usr/lib/abraflexi-digest/multiflexi/monthly_digest.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/weekly_digest.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-digest/usr/lib/abraflexi-digest/multiflexi/weekly_digest.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  multiflexi/yearly_digest.multiflexi.app.json |sponge  debian/multiflexi-abraflexi-digest/usr/lib/abraflexi-digest/multiflexi/yearly_digest.multiflexi.app.json
