tr:hover {
    background-color: #f9f9db;
}

table {
    margin-left:auto; 
    margin-right:auto;
}

.topmenu { margin-top: 6px; }
.topmenu-item{ margin: 4px; font-size: small; };
.companylink{ font-weight: bolder; }
body { margin: 10px; }